@import "tailwindcss";
@import "../public/fonts/fonts.css";

::-webkit-scrollbar {
  display: none;
}

html,
body {
  font-family: "Vazir";
}

.gradient-border {
  position: relative;
  background: linear-gradient(
    to right,
    #a855f7,
    #ec4899,
    #ef4444
  ); /* Gradient for border */
  padding: 2px; /* Border thickness */
}
.gradient-hover-center {
background: #000;
background: radial-gradient(circle, rgba(0, 0, 0, 0.87) 0%, rgba(0, 0, 0, 0.67) 18%, rgba(0, 0, 0, 0) 100%);
}

.inner-content {
  background: transparent; /* Ensures content area is transparent */
  border-radius: 0.875rem; /* Slightly smaller than outer radius to fit inside (1rem - 2px padding) */
  height: 100%;
  width: 100%;
}

/* Ensure backdrop blur applies correctly */
.backdrop-blur-sm {
  backdrop-filter: blur(4px); /* Matches Tailwind's backdrop-blur-sm */
}
.animate-suck-natural {
  animation: suckNatural 5s ease-in-out forwards;
}

@keyframes suckNatural {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  70% {
    opacity: 0.8;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%)) scale(0.5);
  }
  100% {
    opacity: 0;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%)) scale(0.1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 1s ease 1s forwards;
}
